/* 
    Document   : site
    Created on : Jun 13, 2013, 3:27:34 AM
    Author     : cocey
    Description:
        Purpose of the stylesheet follows.
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html,body{
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    background: url('../img/bg_header.png') repeat-x;
}
a {
    color: #23599a;
}
.page-width{
    width: 960px;
    margin: 0 auto;
}
.page-content{
    padding: 40px 0 28px;
}
.bg-gray{
    background-color: #f6f6f6;
}
.bg-gray2{
    background-color: #ebedf2;
}
.bg-grad-gray2gray{
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%); /* W3C */
}
.page-content.bg-gray{
    border-top: 1px solid #dcdcdc;
}

.nowrap{
    white-space: nowrap;
}

/* feature icons */
[class^="c-icons-"], [class*=" c-icons-"]{
    background-image: url("../img/glyphicons-featuresblue.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    display: inline-block;
    *display: inline; /* IE7 Hack */
    zoom:  1; /* IE7 Hack */
    height: 32px;
    line-height: 32px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 32px;
}
[class^="c-icons-"].white, [class*=" c-icons-"].white{
    background-image: url("../img/glyphicons-featureswhite.png");
}
.c-icons-broken-phone{
    background-position: 0px 0px;
}
.c-icons-broken-drop{
    background-position: -32px 0px;
}
.c-icons-broken-avatar{
    background-position: -64px 0px;
}
.c-icons-broken-thunder{
    background-position: -96px 0px;
}
.c-icons-broken-warning{
    background-position: -128px 0px;
}
.c-icons-broken-fire{
    background-position: -160px 0px;
}
.circle-box{
    display: inline-block;
    *display: inline; /* IE7 Hack */
    zoom:  1; /* IE7 Hack */
}
.circle-box.blue:hover {
    background: #99cc00;
    box-shadow: inset -1px 1px 1px 0px #6e8c00, -1px 1px 1px #fff;
}

.circle-box *{
    vertical-align: middle;
}
.circle-box [class^="c-icons-"],.circle-box [class*=" c-icons-"]{
    position: relative;
    top: 14px;
}
.circle-box.blue{
    background-color: #3b5a97;
    color: #fff;
}
.circle-box.w65{
    width: 65px;
    height: 65px;
    overflow: hidden;
    text-align: center;
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    border-radius: 65px;
    vertical-align: middle;
}
.circle-box.w126{
    width: 126px;
    height: 126px;
    overflow: hidden;
    text-align: center;
    -webkit-border-radius: 126px;
    -moz-border-radius: 126px;
    border-radius: 126px;
    vertical-align: middle;
}

/* buttons */
.btn{
    
    background-color: #99cc00;
    background: linear-gradient(to bottom,  #de6d5e 0%,#c50000 55%);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset;
    border: 0;
    color: #fff;
}
.btn .caret{
     border-top-color: #FFFFFF;
}
.btn:hover,.btn-group.open .btn{
    
    background-color: #c50000;
    background: linear-gradient(to bottom,  #de6d5e 0%,#c50000 55%);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1) inset;
    border-color: #951100;
}
.c-button{
    background: #99cc00; 
    border: 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    font-family: 'Open Sans', Arial,sans-serif;
    font-size: 11px/1;
    padding: 9px 0 8px;
    text-align: center;
    width: 150px;
}
.c-button:hover{
    
}
.c-button.green{
    background: #99cc00; 
    border: 0;
    border-right: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
    
}
.c-button.green:hover{
    background: #97be25; 
}
.c-button.big{
    font-size: 24px;
    height: 50px;
}
.features-page2 {
    margin-top: 30px;
}
.product-page-2 {
    font-family: 'Open Sans', Arial, sans-serif;
    z-index: 200;
    
}
.product-page-2 h2 {
    color: #99cc00;
    font-size: 18px;
    margin: 0;
}
.features h3 {
    color: white;
    font-size: 32px;
    font-weight: 300;
    margin: 0;
    margin-top: -4px;
    margin-bottom: 15px;
}

.product-page-2 h3 {
    color: white;
    font-size: 32px;
    font-weight: 300;
    margin: 0;
    margin-top: -4px;
    margin-bottom: 15px;
}
.product-page-2 p {
    color: white;
    font-size: 13px;
    line-height: 1.5;
}

/* list styles */
ul.list-style-greencheck{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.list-style-greencheck li{
    background: transparent url('../img/li_greencheck.png') no-repeat 0px 13px;
    padding: 12px 0 0 36px;
    color: #fff;
    font-size: 15px;
    text-shadow: 2px 2px 3px rgba(0,0,0, 0.45);
}

/* widths */
.w65{
    width: 65px;
}
.w115{
    width: 115px;
}
.w150{
    width: 150px;
}
.w210{
    width: 210px;
}
.w100f{
    width: 100%;
}
.divider{
    height: 1px;
    border-top: 1px solid #dcdcdc;
    background-color: #fff;
    overflow: hidden;
    margin: 24px 0;
}

.header{
    position: relative;
    height: 80px;
    padding-top: 82px;
}
.header h1, .header .powered-by{
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0px;
    top: 12px;
}
.header h1 a{
    margin-top: 7px;
    display: block;
    width: 525px;
    height: 46px;
    background: url('../img/getmobile-logo.png') no-repeat;
    text-indent: -999px;
    overflow: hidden;
}
.header .powered-by{
    left: auto;
    right: 0px;
    top: 20px;
    width: 177px;
    height: 38px;
    background: url('../img/logo_schutzklick.png') no-repeat;
    text-indent: -999px;
    overflow: hidden;
}

.header h2{
    margin: 0;
    padding: 5px 3px 0;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}
.footer{
    background-color: #0b3c6f;
    padding: 28px 0 0;
    font-size: 12px;
    color: white;
    margin: 0;
}
.footer p{
    margin: 0;
    padding: 14px 0;
}
.footer a{
    color: white;
}
.footer a:hover{
    color: #fff;
    text-decoration: none;
}
.footer .outerlinks{
    padding: 24px 0 10px
}
.footer .outerlinks a{
    display: inline-block;
    *display: inline; /* IE7 Hack */
    zoom:  1; /* IE7 Hack */
    width: 88px;
    height: 58px;
    overflow: hidden;
    text-indent: -1000px;
    background: url('../img/icons_footer.png') no-repeat 0px 999px;
}
.footer .outerlinks a.rtv{
    background-position: 0px 0px;
}
.footer .outerlinks a.rtv:hover{
    background-position: 0px -58px;
}
.footer .outerlinks a.paypal{
    background-position: -88px 0px;
}
.footer .outerlinks a.paypal:hover{
    background-position: -88px -58px;
}
.footer .outerlinks a.mastercard{
    background-position: -176px 0px;
}
.footer .outerlinks a.mastercard:hover{
    background-position: -176px -58px;
}
.footer .outerlinks a.visa{
    background-position: -264px 0px;
}
.footer .outerlinks a.visa:hover{
    background-position: -264px -58px;
}
.footer .outerlinks a.ec{
    background-position: -352px 0px;
}
.footer .outerlinks a.ec:hover{
    background-position: -352px -58px;
}
.footer .outerlinks a.sofort{
    background-position: -440px 0px;
}
.footer .outerlinks a.sofort:hover{
    background-position: -440px -58px;
}


.banners{
    background: url('../img/bg_banners.png') repeat-x center top;
    margin-top: -30px;
}
.carousel-inner .banner1 .title{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: #fff;
    padding: 24px 0;
    text-shadow: 2px 2px 3px rgba(0,0,0, 0.45);
}
.carousel-inner .banner1 .zb{
    color: #fff;
    font-size: 15px;
}
.carousel-inner .banner1 .zb-img{
    max-width: 960px;
    position: relative;
    top: 30px;
    left: 60px;
}
.carousel-inner .banner1 .features button.js{
    margin-top: 25px;
    padding: 0 0 0 50px;
    font-size: 20px;
    width: 350px;
    position: relative;
    height: 50px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.carousel-inner .banner1 .features button.js img, .product-page-2 button.js img {
    position: absolute;
    left: 285px;
    top: 15px;
}


.product-page-2 .zb-img{
    max-width: 960px;
    position: relative;
    top: 30px;
    left: 60px;
}
.product-page-2 button.js, .products-list button.js {
    margin-top: 25px;
    padding: 0 0 0 50px;
    width: 350px;
    position: relative;
    height: 50px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.product-page-2 .thumb {
    position: relative;
    left: 150px;
    top:25px;
    display: block;
    float: left;
}
.product-page-2 button.js{
    position: relative;
    left: 0;
    top: -5px;    
}

.product-page-2 .price-badge {
    position: relative;
    left: -30px;
    top: -300px;
    background: url('../img/product-page-2-badge.png') no-repeat;
    width: 176px;
    height: 176px;
    display: block;
    float: right;
    color: white;   
    overflow: hidden;
}
.product-page-2 .price-badge-content {
    display: block;
    width: 130px;
    height: 130px;
    padding: 4px;
    overflow: hidden;
    position: relative;
    top: 32px;
    left: 22px;
    
    
}
.product-page-2 span.price{
    font-size: 32px;
    font-weight: bold;
    
}
.product-page-2 span.cent{
    vertical-align: 10px;
}
.product-page-2 span.more {
    font-size: 13px;
    padding-top: 10px;
    display: block;
    line-height: 1.2;
}

.other-devices {
    font-family: 'Open Sans', Arial, sans-serif;
    margin-top: -100px;
    margin-bottom: -5px;
}
.other-devices h3 {
    font-size: 30px;
    font-weight: 300;
    color: #3b5a97;
}
.other-devices h3.small {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #3b5a97;
    margin-top: -10px;
}
.price-badge-other-devices {
    position: relative;
    top: 0;
    left: 395px;
    background: url('../img/other-devices-price-badge.png') no-repeat;
    width: 118px;
    height: 118px;
    z-index: 1000;
    padding: 16px 0 0 0;
    text-align: center;
}
.price-badge-other-devices span {
    width: 118px;
    height: 118px;
    color: white;
    overflow: hidden;
    font-size: 18px;
}
.price-badge-other-devices span.price{
    font-size: 28px;
    font-weight: bold;
    
}
.price-badge-other-devices span.cent {
    vertical-align: 10px;
    font-size: 75%;
}
.price-badge-other-devices span.more {
    font-size: 18px;
    position: relative;
    top: -80px;
}
.products-list {
    margin-top: -150px;
}
.products-list button.js{
    position: relative;
    left: -135px;
    top: -23px;    
}
.products-list button.js img {
    position: relative;
    left: 40px;
}
.products-list .product section {
    margin-bottom: -90px;
}
.product {
    margin-bottom: 80px;
}
section.faq {
    margin-top: -50px;
    margin-bottom: 30px;
}
.underline {
    text-decoration: underline;
}
.carousel-inner .banner1 .last-line{
    font-size: 15px;
    color: #23599a;
    padding-top: 15px;
}
.carousel-inner .banner1 .last-line .play{
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    text-align: right;
    font-weight: 300;
    text-align: left;
}
.hide-indent {
    padding-top: -200px;
}
.who {
    margin-top: 25px;
}
.carousel-inner .banner1 .last-line .play a{
    color: #23599a;
}
.carousel-inner .banner1 .last-line .line img{
    width: 100%;
    height: 1px;
    position: relative;
    top: 3px;
}
.carousel-inner .banner1 .last-line .rtv img{
    position: relative;
    bottom: 5px;
}
.carousel-inner .products .product{
    position: relative;
    color: #fff;
    padding: 45px 0 0 230px;
    height: 280px;
}
.product .title{
    font-size: 18px;
    font-weight: bold;
    padding: 7px 0 14px;
}
.product .thumb{
    position: absolute;
    top: 47px;
    left: 0px;
    width: 183px;
    text-align: center;
}

.product p{
    height: 100px;
    line-height: 18px;
    overflow: hidden;
    font-size: 12.5px;
}

section h1{
    padding: 0 0 6px 47px;
    margin: 0;
    background-color: #3b5997;
    position: relative;
    min-height: 60px;
    line-height: inherit;
}

section h1.red{
    background-color: #99cc00;
}
section h1 .h-icon{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 33px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    width: 47px;
    height: 42px;
    left: 0px;
    top: 18px;
    text-align: center;
}
section h1 .h-icon.shopping-chart{
    background: url('../img/icon_shoppingchart.png') no-repeat center 3px;
}
section h1 .h-content{
    background: #d3d6e2; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzZDZlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #d3d6e2 0%, #fcfcfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d6e2), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d3d6e2 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d3d6e2 0%,#fcfcfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d3d6e2 0%,#fcfcfc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d3d6e2 0%,#fcfcfc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d6e2', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-8 */
    border: 1px solid #cfd2df;
    font-size: 15px;
    display: block;
    padding: 9px 17px;
    min-height: 42px;
    text-transform: uppercase;
}
section h1 .h-content.nowrap{
    padding-top: 20px;
    min-height: 30px;
}
.feature-list, .feature-content{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #f5f5f5 url('../images/bg.jpg') no-repeat left top;
}
.feature-list ul {
    text-align: left;
}
.feature-list li{
    margin: 0;
    padding: 22px 0 22px 113px;
    height: 21px;
    border:1px solid #dcdcdc;
    border-top: 0px;
    color: #3b5997;
    position: relative;
    text-align: left;
}
.feature-list li [class^="c-icons-"], .feature-list li [class*=" c-icons-"]{
    position: absolute;
    left: 50px;
    top: 13px;
}
.feature-list li .right-icon{
    position: absolute;
    right: 28px;
}
.feature-list li .right-icon{
    position: absolute;
    right: 28px;
}
.feature-list.service-phone{
    position: relative;
    height: 395px;
    border:1px solid #dcdcdc;
    border-top: 0px;
}
.feature-list.service-phone img.thumb{
    position: absolute;
    left: 18px;
    top: 27px;
}
.feature-list.service-phone .info{
    position: absolute;
    right: 25px;
    top: 27px;
    width: 200px;
    height: 360px;
}
.feature-list.service-phone .info h3{
    font-size: 15px;
    font-weight: normal;
}

.feature-list.service-phone .info a{
    color: #000;
}
.feature-list.service-phone .info a.phone{
    display: inline-block;
    *display: inline; /* IE7 Hack */
    zoom:  1; /* IE7 Hack */
    background: url('../img/icon_phone.png') no-repeat 0px 2px;
    padding: 0 0 3px 20px;
}
.feature-list.service-phone .info a.mail{
    color: #99cc00;
    font-weight: bold;
}
.feature-list.service-phone .info a.note{
    text-decoration: underline;
    font-size: 11px;
    position: absolute;
    bottom: 15px;
    left: 0px;
    font-weight: bold;
}
tooltip-inner {
  max-width: 200px;
  padding: 12px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #23599a;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
          text-align: left;
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tooltip p.title {
    font-size: 15px;
    margin-top: 5px;
}
.service-phone.ver2{
    height: 242px;
}
.faq-btn {
    padding: 4px 0 4px 10px;
    border-radius: 3px;
}
.faq-btn img {
    padding-left: 15px;
    padding-right: 10px;
}
.service-phone.ver2 img.thumb{
    top: 18px;
    left: 45px;
}
.service-phone.ver2 .info{
    width: 220px;
    height: 170px;
    right: 280px;
    top: 60px;
}
.service-phone.ver2 .info a.note{
    bottom: 0px;
    left: 285px;
    white-space: nowrap;
}
.service-phone.ver2 .info button.haufige-fragen{
    position: absolute;
    left: 285px;
    top: 77px;
    width: 195px;
}
.feature-content{
    padding: 14px;
    border:1px solid #dcdcdc;
    border-top: 0px;
    font-size: 15px;
    min-height: 90px;
}
.comment-boxes{
    color: #3b5997;
}
.comment-boxes .comment-box p{
    background: transparent url('../img/bg_comment.png') no-repeat;
    width: 194px;
    height: 131px;
    padding: 20px 20px 40px;
    margin: 0;
    text-align: left;
    overflow: hidden;
}
.comment-boxes .comment-box .author{
    display: block;
    padding: 14px 0 0;
}
.feature-box {
    margin: 0;
    position: relative;
    top: -73px;
    z-index: 0;
}
.feature-list-h{
    font-size: 15px;
    position: relative;
    top:50px;
    padding-bottom: 10px;
    
}
.feature-list-h .title{
    display: block;
    margin: 20px 0 0;
}
.products-list .price-tag{
    position: relative;
    font-size: 24px;
    line-height: 39px;
    margin: -52px 0;
    z-index: 9;
}
.products-list .title {
    margin-top: 40px;
}
.price{
    display: block;
    font-size: 2.8em;
    position: relative;
    left: 2%;
}
.price sup{
    font-size: 0.5em;
    position: relative;
    left: -12px;
}
.products-list .product{
    position: relative;
    padding: 39px 30px 30px 195px;
    border: 1px solid #e6e6e6;
    font-size: 13px;
}
.products-list .product .title{
    font-size: 18px;
    font-weight: bold;
    padding: 7px 0 14px;
}
.products-list .product .thumb{
    position: absolute;
    top: 39px;
    left: 0px;
    width: 183px;
    text-align: center;
}
.products-list .product p{
    height: 110px;
    line-height: 18px;
    overflow: hidden;
}

/* checkout */
.checkout-header{
    background-color: #f0f0f0;
    padding: 14px 0;
    margin-top: -28px;
}
.checkout-steps{
    display: inline-block;
    *display: inline; /* IE7 Hack */
    zoom:  1; /* IE7 Hack */
    margin: 0 auto;
    padding-bottom: 27px;
    
}
.checkout-steps .step{
    position: relative;
    display: inline-block;
    *display: inline; /* IE7 Hack */
    zoom:  1; /* IE7 Hack */
    width: 32px;
    height: 32px;
    text-align: center;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    vertical-align: middle;
    background-color: #fff;
    color: #d1d1d1;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 12px solid #d2d2d2;
}
.checkout-steps .step span{
    position: relative;
    top: 5px;
}
.checkout-steps .step strong{
    position: absolute;
    top: 53px;
    left: -60px;
    width: 150px;
    color: #d2d2d2;
    font-family: "Arial",sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.checkout-steps .step.current{
    background-color: #99cc00;
    width: 48px;
    height: 48px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    border: 6px solid #d2d2d2;
    color: #fff;
}
.checkout-steps .step.current span{
    top: 13px;
}
.checkout-steps .step.current strong{
    color: #99cc00;
    top: 60px;
    left: -52px;
}
.checkout-steps .step.done{
    background: #fff url('../img/icon_check.png') center center no-repeat;
}
.checkout-steps .step.done span{
    visibility: hidden;
}
.checkout-steps .line{
    display: inline-block;
    *display: inline; /* IE7 Hack */
    zoom:  1; /* IE7 Hack */
    height: 2px;
    background-color: #d2d2d2;
    border: 6px solid #d2d2d2;
    overflow: hidden;
    position: relative;
    top: 3px;
    margin: 0 -5px;
    width: 130px;
}
.checkout-form{
    position: relative;
    left: -25px;
    width: 105%;
}
.checkout-form legend{
    border: 0;
    font-size: 40px;
    padding-bottom: 10px;
}
.checkout-form label{
    position: relative;
    top: 6px;
}
.checkout-form .checkboxes{
    padding: 24px 0 24px 25px;
}
.checkout-form .checkboxes label{
    font-size: 12px;
}
.checkout-form .divider{
    margin: 12px 0;
}
.checkout-form iframe{
    border: 0;
    width: 100%;
    min-height: 600px;
    overflow: hidden;
}
.checkout-form.ver2 legend{
    padding-bottom: 30px;
}
.checkout-form.ver2 .col1, .checkout-form.ver3 .col1{
    position: relative;
    top: 7px;
    color: #505050;
    font-size: 14px;
}
.checkout-form.ver2 .col1 strong{
    color: #000;
}
.checkout-form.ver3{
    color: #505050;
}
.checkout-form.ver3 div.span12{
    color: #000000;
    font-size: 13px;
    padding-bottom: 10px;
}
.checkout-form.ver3 div.span12 .title{
    font-size: 16px;
    font-weight: bold;
}
.checkout-form.ver3 .span7{
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    color: #010101;
}
.checkout-form.ver3 .divider{
    margin-bottom: 22px;
}
/* basket */
.basket ul{
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #d8d8d8;
    font-size: 14px;
}
.basket ul li{
    margin: 0;
    padding: 18px 10px 18px 18px;
    list-style: none;
    border: 1px solid #d8d8d8;
    border-top: 0px;
    background-color: #f0f0f0;
}
.basket ul li .title{
    display: inline-block;
    *display: inline; /* IE7 Hack */
    zoom:  1; /* IE7 Hack */
    width: 135px;
}
.basket ul li .pr-price{
    display: inline-block;
    *display: inline; /* IE7 Hack */
    zoom:  1; /* IE7 Hack */
    width: 60px;
    text-align: right;
}
.basket ul li button.delete{
    border: 0;
    background: transparent url('../img/icon_close.png');
    width: 14px;
    height: 15px;
    text-indent: -999px;
    position: relative;
    left: 5px;
    top: -2px;
    overflow: hidden;
}
.basket ul li.total{
    padding: 13px 18px;
    margin: 14px 0;
    list-style: none;
    border: 1px solid #d8d8d8;
    background-color: #fff;
    font-size: 16px;
}
.basket .info{
    padding: 4px 20px;
    color: #99cc00;
    font-size: 10px;
}
.certificate{
    background-color: #f0f0f0;
    border: 1px solid #d8d8d8;
    margin-top: 25px;
    padding-bottom: 8px;
}
.certificate .thumb{
    position: relative;
    left: 19px;
    top: -25px;
}
.certificate p{
    padding: 10px 19px;
}
.certificate .divider{
    margin: 5px 0;
}
.certificate button.download{
    padding: 0 0 0 52px;
    font-size: 16px;
    width: 246px;
    position: relative;
    height: 50px;
    left: 4px;
}
.certificate button.download img{
    position: absolute;
    left: 0px;
    top: 0px;
}
.modal{
    width: 670px;
    margin-left: -335px;
}

.payment_methods {
  width: 300px;
}

/* line 16, ../sass/snippets/_footer.scss */
.payment_methods a, .payment_methods p {
  float: left;
  text-indent: -9999px;
  margin-left: 15px;
  display: inline-block;
}

/* line 23, ../sass/snippets/_footer.scss */
.payment_methods a.paypal, .payment_methods p.paypal {
  height: 19px;
  width: 62px;
  background: url('../img/paypal_weltbild.png') 0 0 no-repeat;
  margin-top: 5px;
  margin-left: 10px;
}

/* line 31, ../sass/snippets/_footer.scss */
.payment_methods a.visa, .payment_methods p.visa {
  height: 25px;
  width: 39px;
  background: url('../img/visa.png') 0 0 no-repeat;
}

/* line 37, ../sass/snippets/_footer.scss */
.payment_methods a.mastercard, .payment_methods p.mastercard {
  height: 24px;
  width: 36px;
  background: url('../img/mastercard.png') 0 0 no-repeat;
  margin-top: 5px;
}

/* line 44, ../sass/snippets/_footer.scss */
.payment_methods a.ec, .payment_methods p.ec {
  height: 28px;
  width: 26px;
  background: url('../img/ec.png') 0 0 no-repeat;
}

/* line 50, ../sass/snippets/_footer.scss */
.payment_methods a.sofort, .payment_methods p.sofort {
  height: 22px;
  width: 71px;
  background: url('../img/sofort.png') 0 0 no-repeat;
  margin-top: 5px;
}

.clear_div {
    clear: both; 
    height: 20px
}

.lefted_input {
    float: left;
    width: 20px;
}

.static_main {
  margin-left: 40px;
}